html,
body {
  background: #dfffd9;
  color: #421;
}

.ProseMirror.editor {
  min-height: 100vh;
  padding-block: 1em;
  padding-inline: 2em;
}

h1,
h2,
h3 {
  color: #532;
}

:is(p, ul, ol, li, blockquote, pre, h1, h2, h3, h4, h5, h6):hover {
  background: #9871;
}

:is(strong, em, b, i, a, code):hover {
  background: #f4f4f4;
}
